<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    {% if user.is_authenticated %}
      <div class="container">
          <a class="navbar-brand mr-5 ms-5" href="{% url 'index' %}" style="color:#F0EBE3; font-weight:bold;">Inventory</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                  <!-- <a class="nav-item nav-link mr-5 ms-5" href="{% url 'index' %}">Home</a> -->
                  <a class="nav-item nav-link mr-5 ms-5" href="{% url 'user' %}">Users</a>
                  <a class="nav-item nav-link mr-5 ms-5" href="{% url 'product' %}">Products</a>
                  <a class="nav-item nav-link mr-5 ms-5" href="{% url 'order' %}">Orders</a>

              </div>
              <!-- Navbar right-->
              <div class="navbar-nav ms-auto">
                <a class="nav-item nav-link align-right"  href="{% url 'logout' %}"> Logout
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#34797e" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                    </svg>
                </a>
        {% else %}
                <a class="nav-item nav-link align-right" href="{% url 'login' %}">
                    Login <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#34797e" class="bi bi-box-arrow-in-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z"/>
                        <path fill-rule="evenodd" d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                        </svg>
                </a>
                <a class="nav-item nav-link align-right"  href="{% url 'register' %}">
                    Get Started <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#34797e" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                </a>
              </div>
              
          </div> 
      </div>
    {% endif %}
  </nav>
</header>
