{% extends 'shared/base.html' %}
{% load static %}

{% block title %}Products{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h3>Delete Item</h3>
                <hr>
                <div class="alert alert-danger">
                    <h4>Are you sure you want to delete this item?</h4>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <a class="btn btn-primary" href="{% url 'product' %}">Cancel</a>
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </div>

        </div>
        
    </div>

</div>

{% endblock %}