{% extends 'shared/base.html' %}
{% load static %}

{% block title %}Products{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <table class="table table-striped table-hover mt-4">
            <thead class="bg-dark text-white">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Quantity</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
                {% for item in items %}
            <tr>
                <td></td>
                <td>{{ item.name }}</td>
                <td>{{ item.category }}</td>
                <td>{{ item.quantity }}</td>
                <td>
                    <a class="btn btn-info btn-sm" href="{% url 'product_edit' item.id %}">Edit</a>
                    <a class="btn btn-danger btn-sm" href="{% url 'product_delete' item.id %}">Delete</a>

                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <div class="card card-body mt-4">
            <h5>Add New Products</h5>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-info btn-block" type="submit" value="Add">
            </form>
        </div>
    </div>
</div>
    
    
{% endblock content %}


